:root {
  --main-bg-color: #f2f2f2;
  --main-text-color: #333;
  --default-padding: 20px;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 18px;
}

h1,
h2,
h2,
p {
  margin: 0;
  font-size: 1em;
}

.user-input-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--default-padding);
}

.animation-container {
  height: 70vh;
  padding: var(--default-padding);
}
