@import url(https://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

:root {
  --main-bg-color: #111;
  --main-text-color: #f2f2f2;
  --default-padding: 20px;
  --default-container-size: 920px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  box-sizing: border-box;
  overflow: hidden;
  font-size: 18px;
  font-family: 'Raleway', Arial, sans-serif;
}

h1,
h2,
h2,
p {
  margin: 0;
  font-size: 1em;
}

.user-input-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--default-padding);
}

.animation-container {
  height: 50vh;
  padding: var(--default-padding);
  display: flex;
  justify-content: center;
  align-items: center;
}
